.listGroup{
    margin-top: 50px;
    height:70px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
  }
 
    .gradientbg{
     background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}
    .jumbotron{
      border-radius:10px;
      height:160px;
      position: relative;
      top:50px;
    
    }
    #libBtn{
        position: relative;
       left:900px;
      bottom:200px;
 
    }
    .image{
        width:10px;
        height:15px;
    }
    #bkTitle{
        position: relative;
        left:200px;
        bottom:100px;
        font-size:xx-large;
        font-weight:bolder;
    }
    #bkAuthor{
        position: relative;
        left:200px;
        bottom:100px;
        font-size:x-large;
        font-weight: bold;
    }
    #bkGenre{
        position: relative;
        left:200px;
        bottom: 100px;
    }
    #avail{
        position: relative;
         left:925px;
         bottom:200px;
 
    }
    #check{
        position: relative;
         left:1000px;
         bottom:250px;
 
    }
    .booksbg{

        background-size:cover;
        height: 100vh;
        background-repeat: no-repeat;
        position:relative;
        top:-50px;
    }

    
      